LEAFLET_PRIMARY.ENV="development"

LEAFLET_SERVER.PORT="8080"
LEAFLET_SERVER.READ_TIMEOUT="10"
LEAFLET_SERVER.WRITE_TIMEOUT="10"
LEAFLET_SERVER.IDLE_TIMEOUT="60"

LEAFLET_DATABASE.HOST="localhost"
LEAFLET_DATABASE.PORT="5432"
LEAFLET_DATABASE.USER="postgres"
LEAFLET_DATABASE.PASSWORD=""
LEAFLET_DATABASE.NAME="leaflet"
LEAFLET_DATABASE.SSL_MODE="disable"

LEAFLET_OBSERVABILITY.LOGGING.LEVEL="debug"
LEAFLET_OBSERVABILITY.LOGGING.FORMAT="json"